<h1>Players</h1>

<ul>
  <% @players.each do |player| %>
    <% full_name = "#{player[:first_name]} #{player[:last_name]}" %>
    <li><%= link_to(full_name, player_path(player)) %></li>
  <% end %>
</ul>