<form action="<%= players_path %>" method="post">
  <label for="first_name">First Name:</label>
  <input type="text" id="first_name" name="player[first_name]">
  <label for="last_name">Last Name:</label>
  <input type="text" id="last_name" name="player[last_name]">
  <label for="age">Age:</label>
  <input type="text" id="age" name="player[age]">
  <label for="height">Height:</label>
  <input type="text" id="height" name="player[height]">
  <label for="weight">Weight:</label>
  <input type="text" id="weight" name="player[weight]">
  <label for="position">Position</label>
  <input type="text" id="position" name="player[position]">
  <label for="foot">Foot</label>
  <input type="text" id="foot" name="player[foot]">
  <button>Create Player</button>
</form>