<form action="/butterflies" method="post">

<!-- If you don't put a method on a form it will automatically run a get request. You have to indicate post if you want to add or change data. You can view this on the network tab in the console on your browser -->

  <label for="name">Name</label>
  <input type="text" id="name" name="name"><br>

  <label for="family">Family</label>
  <input type="text" id="family" name="family"><br>

  <label for="image">Image</label>
  <input type="url" id='image' name='image'><br>

  <button>Create Butterfly</button>


</form>