<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Butterflies of the world!</title>
  <link rel="stylesheet" href="/css/butterflies.css">
</head>
<body>
  <div class="container">
    <div>
     <nav>
      <% @families.each do |type| %>
          <a href="/butterflies/family/<%= type.family %>"><%= type.family %></a>
        <% end %>
        <a href="/">Home</a>
        <a href="/butterflies">All butterflies and soup</a>
        <a href="/butterflies/new">Create soupy butterflies</a>
        <a href="/plants">All plants</a>
        <a href="/plants/new">New plant</a>
      </nav>
    </div>
    
    <%= yield %>

  </div>
  
</body>
</html>