@import url(http://fonts.googleapis.com/css?family=Varela+Round);

body {
    background-color: #E184F0;
    width: 960px;
    margin: 0 auto;
}


/******************* Fonts *************************/


h1 {
    font-family: "Varela Round", sans-serif;
    color: #111111;
}

p {
    color: #fff;
    font-family: "Varela Round", sans-serif;
}

.works {
    font-size: 30px;
}

.skillz {
    height: 200px;
}

.pagetitle {
    margin-top: 50px;
}

#fronttitle {
    text-align: center;
}

.left {
    position: fixed;
    left: 1030px;
    top: 56px;
    z-index: 1;
}
/******************* Images *************************/

 img {
    border-radius: 100%;
 }


#frontpug {
    margin: 60px auto 50px;
    display: block;
}

.talents { 
    width: 200px;
}

/******************* Nav Buttons *************************/
 .button {
    display: inline-block;
    width: 200px;
    height: 70px;
    color: #fff;
    font-weight: bold;
    background-color: red;
    line-height: 70px;
    border-radius: 3px;
    margin: 50px 25px;
    font-family: "Raleway", sans-serif;
    -webkit-transition: 1s;
    transition: 1s;
 }

 .container{
    text-align: center;
 }


.button:hover{
    color: #F21847;
    background-color: #fff;
}



#heartsp {
 width: 100px;
 height: 90px;
}
#heartsp:before, #heartsp:after {
 position: fixed;
 content: "";
 right: 175px;
 top: 50px;
 width: 50px;
 height: 80px;
 background: red;
 -moz-border-radius: 50px 50px 0 0;
 border-radius: 50px 50px 0 0;
 -webkit-transform: rotate(-45deg);
 -moz-transform: rotate(-45deg);
 -ms-transform: rotate(-45deg);
 -o-transform: rotate(-45deg);
 transform: rotate(-45deg);
 -webkit-transform-origin: 0 100%;
 -moz-transform-origin: 0 100%;
 -ms-transform-origin: 0 100%;
 -o-transform-origin: 0 100%;
 transform-origin: 0 100%;
}
#heartsp:after {
 right: 225px;
 top: 50px;
 -webkit-transform: rotate(45deg);
 -moz-transform: rotate(45deg);
 -ms-transform: rotate(45deg);
 -o-transform: rotate(45deg);
 transform: rotate(45deg);
 -webkit-transform-origin: 100% 100%;
 -moz-transform-origin: 100% 100%;
 -ms-transform-origin: 100% 100%;
 -o-transform-origin: 100% 100%;
 transform-origin :100% 100%;
}


/**************** Map ********************/

.map {
    border: 15px solid #fff;
}


/**************** Other ********************/
li {
    list-style: none;
}



