<!-- read the docs, don't do more than one layout! -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MYMDB</title>
  <link rel="stylesheet" href="/css/stock.css">
</head>
<body>
  <div class="container">
    <%= yield %> <!-- embedded ruby tag, no more than 1 -->
  </div>
</body>
</html>