<form action="/">
<input type="text" name="search_str" placeholder="Please Enter A Movie...">
<button>Submit</button>  
</form>

<% if @search_str %>
  <h1>Results</h1>
  <% if @movies.length == 1 %>
    Only Found 1
  <% elsif @movies.length > 1 %>
    Found multiple
  <% end %>
<% end %>