<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="UTF-8">
    <title>MOVIES!</title>
    <link rel="stylesheet" type="text/css" href="movies.css">

  </head>
  
  <body>

    <div class="container"> 
      <h2>THE BEST MOVIE DATABASE IN THE UNIVERSE</h2>

      <hr>
        <%= yield %>
      <hr>

    </div>  
    
  </body>
</html>




