<h2>Makin Mountains!</h2>

<!-- The name of the input is what's being referenced by the database! -->

<form action="/mountains" method="post">

<label for="name">Name:</label>
<input type="text" id="name" name="mountain[name]" placeholder="Mountain">

<label for="image">Image:</label>
<input type="url" id="image" name="mountain[image]">

<label for="country">Country:</label>
<input type="text" id="country" name="mountain[country]">

<label for="height">Height:</label>
<input type="text" id="height" name="mountain[height]">

<label for="">Climbers Killed:</label>
<input type="text" id="climbers_killed" name="mountain[climbers_killed]">

<button>Mountain Yo!</button>

</form>