

<form action="/movies">
  <input type="text" name="title" placeholder="Enter a movie title">
  <button>Enter movie title</button>
</form>

<form action="/movies/search">
  <input type="text" name="title" placeholder="Enter a movie title">
  <button>Search for movie</button>
</form>


<h1> <%= @title %> </h1>
<p> <%= @plot %><p>
<div>
  <img src=<%="#{@poster}"%>>
<div>


