<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pair Programming</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  
<div class="container">
  
  <%= yield %>

</div>

</body>
</html>