<h1>Stock Exchange</h1>


<form action="/stock">

  <input type="text" id="stock" name="symbol" placeholder="Stock Name" autofocus>

  <button>Lookup</button>

</form>

<p>Last trade price: <strong><%= @result %></strong> USD</p>

