/*Busy Hands


  1. Header - navigation

  2. Top - logo, social and banner

  3. Wrapper - blurb, home boxes

  4. Footer - widgets, copyright, etc   

____________________________________ */

 /*                  ;,_            ,
                   _uP~"b          d"u,
                  dP'   "b       ,d"  "o
                 d"    , `b     d"'    "b
                l] [    " `l,  d"       lb                 d8888b. d88888b d8888b. d8888b. d88888b .d8888. d88888b d8b   db d888888b 
                Ol ?     "  "b`"=uoqo,_  "l                88  `8D 88'     88  `8D 88  `8D 88'     88'  YP 88'     888o  88 `~~88~~' 
              ,dBb "b        "b,    `"~~TObup,__           88oobY' 88ooooo 88oodD' 88oobY' 88ooooo `8bo.   88ooooo 88V8o 88    88
            ,d" (db.`"         ""     "tbc,_ `~"Yuu,_      88`8b   88~~~~~ 88~~~   88`8b   88~~~~~   `Y8b. 88~~~~~ 88 V8o88    88
          .d" l`T'  '=                      ~     `""Yu,   88 `88. 88.     88      88 `88. 88.     db   8D 88.     88  V888    88
        ,dO` gP,                           `u,   b,_  "b7  88   YD Y88888P 88      88   YD Y88888P `8888Y' Y88888P VP   V8P    YP
       d?' ,d" l,                           `"b,_ `~b  "1           
     ,8i' dl   `l                 ,ggQOV",dbgq,._"  `l  lb    458739873607307397356873569735645830873534535358844456873097368756897
    .df' (O,    "             ,ggQY"~  , @@@@@d"bd~  `b "1             .d888b.            .d88b.            db             ooooo
   .df'   `"           -=@QgpOY""     (b  @@@@P db    `Lp"b,           VP  `8D           .8P  88.          o88            8P~~~~ 
  .d(                  _               "ko "=d_,Q`  ,_  "  "b,            odD'    ***    88  d'88    ***    88    ***    dP  
  Ql         .         `"qo,._          "tQo,_`""bo ;tb,    `"b,        .88'     *****   88 d' 88   *****   88   *****   V8888b.
 (qQ         |L           ~"QQQgggc,_.,dObc,opooO  `"~~";.   __,7,     j88.       ***    `88  d8'    ***    88    ***        `8D
 `qp         t\io,_           `~"TOOggQV""""        _,dg,_ =PIQHib.    888888D            `Y88P'            VP           88oobY'
  `qp        `Q["tQQQo,_                          ,pl{QOP"'   7AFR`    435897459867598398645763976495870975030734568739873597874597
    `         `tb  '""tQQQg,_             p" "b   `       .;-.`Vl'
               "Yb      `"tQOOo,__    _,edb    ` .__   /`/'|  |b;=;.__          db   d8b   db d8888b. d888888b        .d888b. 
                             `"tQQQOOOOP""        `"\QV;qQObob"`-._`\_~~-._     88   I8I   88 88  `8D   `88'          88' `8D  
                                  """"    ._        /   | |oP"\_   ~\ ~\_  ~\   88   I8I   88 88  `8D   `88'          88' `8D 
                                          `~"\ic,qggddOOP"|  |  ~\   `\  ~-._   88   I8I   88 88  `8D   `88'          88' `8D 
                                            ,qP`"""|"   | `\ `;   `\   `\       88   I8I   88 88   88    88           `V8o88'
                                 _        _,p"     |    |   `\`;    |    |      Y8   I8I   88 88   88    88    C8888D    d8'
                                  "boo,._dP"       `\_  `\    `\|   `\   ;      `8b d8'8b d8' 88  .8D   .88.            d8'
                                   `"7tY~'            `\  `\    `|_   |          `8b8' `8d8'  Y8888D' Y888888P         d8'
                                                            `~\  |


*/
body {
  background: url("../images/bg_body.jpg");
  background-repeat: repeat;
  margin-top: 0px;
}

/*1. Header - navigation */

header {
  background: black;
  margin-top: 0px;
}

nav {
  background: black;
  width: 100%;
  padding: 0px 79px 16px 0px;
  margin: auto;
  margin-top: 0px;
  max-width:960px;
}

nav ul {
  margin-top: 0px;
}

nav li {
  display: inline;
  padding: 0px 15px 20px 15px;
  margin-top: 0px;
}

nav li:hover {
  background: url("../images/bg_nav_rollover.png");
}

nav a {
  color: white;
  text-decoration: none;
}
nav a:hover {
color: #33CCFF
}


/*2. Top - logo, social and banner */

#top{
  margin: auto;
  margin-top: 0px;
  width: 100%;
  background: url("../images/bg_body_2.jpg");
  background-repeat: repeat;
  height: 380px;
  padding-top: 20px;

}

#logo {
  margin: auto;
  width: 67%;
  margin-bottom: 10px;
  display:inline-block;
}

.container {
  width: 960px;
  margin: 0 auto;
}

#logo img {
  display:inline-block;
}

.social-media {
  margin: auto;
  width: 30%;
  display:inline-block;
  vertical-align: top;
  text-align: right;
}

#linkedin {
  width: 48px;
  height: 48px;
  display:inline-block;
  background: url("../images/linkedin-off.png");
}

#linkedin:hover {
  width: 48px;
  height: 48px;
  display:inline-block;
  background: url("../images/linkedin.png");
}

#twitter {
  width: 48px;
  height: 48px;
  display:inline-block;
  background: url("../images/twitter-off.png");
}

#twitter:hover {
  width: 48px;
  height: 48px;
  display:inline-block;
  background: url("../images/twitter.png");
}

#facebook {
  width: 48px;
  height: 48px;
  display:inline-block;
  background: url("../images/facebook-off.png");
}

#facebook:hover {
  width: 48px;
  height: 48px;
  display:inline-block;
  background: url("../images/facebook.png");
}

#rss {
  width: 48px;
  height: 48px;
  display:inline-block;
  background: url("../images/rss-off.png");
}

#rss:hover {
  width: 48px;
  height: 48px;
  display:inline-block;
  background: url("../images/rss.png");
}

.photobanner {
  margin: auto;
  max-width: 960px;
  box-shadow: 0 20px 40px 0px #777;
}

/*3. Wrapper - blurb, home boxes*/

#wrapper {
  margin: auto;
  margin-top: 120px;
  max-width: 960px;
  background: url("../images/bg_body.jpg");
  background-repeat: repeat;
}

#blurb {
  display: inline-block;
  border-style: solid;
  border-width: 2px;
  border-left-color: lightgrey;
  border-top-color: lightgrey;;
  border-right-color: white;
  border-bottom-color: white;
  padding: 10px 20px 10px 20px;
  max-width: 960px;
}

#blurb img {
  padding-top: 10px;
  display: inline-block;
  margin: 0 auto;
  text-align: right;
  max-width: 20%;
  padding-left: 20px;
  margin-top: 5px;
  padding-top: 0px;
  vertical-align: top;
}

#blurb p {
  display:inline-block;
  margin: 0 auto;
  width: 75%;
  text-align: left;
  padding-right: 5px;
  margin-top: 5px;
  padding-top: 5px;
}

.home-box {
  max-width: 310px;
  display: inline-block;
 
}

.home-box p {
  font-size: 11px;
  padding-right: 10px;
}

.home-box a {
  text-decoration: none;
  color: #33CCFF;
}

.home-box img { 
  padding: 2px;
  border-width: 5px !important;
  border-color: lightgrey !important; 
  border: solid;
}

#footer-background {
  background-color: black;
  width: 100%;
}

.box-footer {
  padding-top: 30px;
  margin: auto;
  max-width: 960px;
}


/*4. Footer - widgets, copyright, etc*/


.box-footer h4 {
  color: lightgrey;
  font-weight:500;
  font-size: 18px;
  margin-bottom: 0px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: grey;
  padding-top: 8px;
  padding-bottom: 10px;
}

.box-footer a {
  color: grey;
  text-decoration: none;
  font-size: 12px;
}

.box-footer p {
  font-size: 12px;
}

.blog-roll {
  color: grey;
  width: 190px;
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
  padding-right: 20px;
}

.blog-roll ul {
  padding: 0px;
  list-style-type: none;
  margin-top: 12px;
}

.blog-roll li {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: grey;
  padding-top: 8px;
  padding-bottom: 10px;
}

.text-widget {
  color: grey;
  width: 390px;
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
  padding-right: 20px;
}

.meta-widget {
  color: grey;
  width: 190px;
  text-decoration: none;
  display: inline-block;
  padding-right: 20px;
}

.meta-widget ul {
  padding: 0px;
  list-style-type: none;
  margin-top: 7px;
}

.meta-widget li {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: grey;
  padding-top: 8px;
  padding-bottom: 10px;
}
#copyright {
  color: grey;
  text-align: left;
  text-decoration: none;
  vertical-align: top;
  display: inline-block;
  width: 50%;
}
#company-bottom {
  color: grey;
  text-align: right;
  vertical-align: top;
  display: inline-block;
  width: 37%;
}

#company-bottom a {
  text-decoration: none;
  color: #33CCFF;
}
