<!DOCTYPE html>
<html>
<head>
  <title>Landscapes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <nav>
      <a href="/">Home</a>
      <a href="/mountains/new">Make a mountain!</a>
    </nav>
    
<%= yield %>

  </div>

</body>
</html>
