


<div class="error-wrapper">

  <h1>Welcome to</h1>
  <img src="images/TheMovies.gif" width="300px">
  <br><br>

  <div>
    <form name="form2" action="/search">
      <input type="text" name="title" size="40" placeholder="Search for a film" autofocus>
      <button>Search</button>
    </form>
  </div>

</div>

