


<div class="error-wrapper">

  <h1>Welcome to MyMDb</h1>

  <div>
    <form name="form2" action="/search">
      <input type="text" name="title" size="40" placeholder="Search for a film" autofocus>
      <button>Search</button>
    </form>
  </div>
  <br>
  <img src="images/TheMovies.gif" width="300px">

</div>

