<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Movie Database</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/movies.css">
</head>

<body>


  <div class="container">

    <header>
    
      <a href="/"><div class="logo"></div></a>
      <div class="search">
        <form action="/search" method="post">
          <input type="text" name="title" size="40" placeholder="Search for a film" autofocus>
          <button>Search</button>
        </form>
      </div>

    </header>

    

    <section class="content-wrapper">
        <%= yield %>
    </section>

    <footer></footer>

  </div>
</body>

</html>