<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Movie Database</title>
  <link rel="stylesheet" href="/css/movies.css">
</head>

<body>


  <div class="container">

    <div class="search">
      <form action="/film">

        <input type="text" name="title" placeholder="Search for a film" autofocus>
        <button>Search</button>

      </form>
    </div>
    
    <%= yield %>

  </div>
</body>

</html>