





<div class="search-info">
<span class="title">Search Results</span>
<ul>
<% @search_data["Search"].each do |film| %>
  <a href="/film?id=<%= film["imdbID"] %>">
    <li><%= film["Title"] %> (<%= film["Year"] %>) - <%= film["Type"] %></li>
  </a>
<% end %>
</ul>
</div>

