body {
  max-width: 100%;
  background-image: url("../images/bg_body.jpg");
/*  background-color: rgba(0,0,0,.5);*/
  background-repeat: repeat;
  margin: auto;
  height: auto; 
}

.container {
    max-width: 920px;
    margin: 0 auto; 
}

.header ul {
    height: 50px;
    background: black;
    padding: 10px;
    color: white;
}

.header li {
  display: inline;
  padding: 0px 10px 0px 10px;
}

.socialMedia {
    float: right;
}

.request {
    height: 90px;
    border: solid;
}

.request p {
    width: 650px;
    vertical-align: baseline;
    padding: 0 20px;
}

.request img {
    float: right;
    padding: 20px 20px 0 0;
}

.homeBox1 {
    max-width: 300px;
}

.homeBox2 {
    max-width: 300px;
}

.homeBox3 {
    max-width: 300px;
}