body {
  font-family: Arial, sans-serif;
}

nav {
  background-color: black;
  color: white;
  line-height: 75px;
}

nav li {
  display: inline-block;
}

#hero {
  display: block;
  margin-bottom: 50px;
  width: 1009px;

  -webkit-box-shadow: 2px 26px 45px -12px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 26px 45px -12px rgba(0,0,0,0.75);
box-shadow: 2px 26px 45px -12px rgba(0,0,0,0.75);
}

#container {
  width: 1009px;
  margin: 0 auto;
}

#blurb {
  position: relative;
  border: 1px solid grey;
}

#blurb p {
  display: inline-block;
  width: 600px;
  margin: 0;
  margin: 10px;
  vertical-align: top;
}

#blurb img {
  display: inline-block;
  margin: 10px 0px;
  right: 10px;
  vertical-align: top;
}

.home-box {
  /*border: 1px solid black;*/
  width: 298px;
  display: inline-block;
}

.home-box p {
  font-size: smaller;
}

.home-box img {
  border: 6px solid black;
  padding: 1px;
  width: 284px;
}

.home-box + .home-box {
  margin-left: 53px;
}


