<h1>Welcome to the Movie Matcher</h1>

<% @the_movies.each do %>
  <% if @title %>

    <h2>The movie is: <%= @title %></h2>
    <img src=<%=@poster%> alt=""> 

  <% end %>
<% end %>

<form action= "/">
  <input type="text" name="movie" placeholder="Insert movie title">
  <button>Find Movie</button>
</form>