<h1 class="quote">“To be is to do”—Socrates.</h1>
<h1 class="quote">“To do is to be”—Jean-Paul Sartre.</h1>
<h1 class="quote">“Do be do be do”—Frank Sinatra.</h1>

<p id="restart"><a href="http://localhost:4567">RESTART</a></p>