<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pair Programming</title>
  <link href='//fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/pair.css">
</head>
<body>
  <h1></h1>
  <div class="container">
  <%= yield %>
  </div>

  <p class="inspiration"><a href="/inspiration">Inspiration</a></p>
</body>
</html>