<h2>New Planet</h2>

<form action="/rivers" method="post">
  <label for="name">Name:</label>
  <input type="text" id="name" name="river[name]" placeholder="Nile">
  <label for="image">Image:</label>
  <input type="url" id="image" name="river[image]">
  <label for="mouth">Mouth:</label>
  <input type="text" id="mouth" name="river[mouth]" placeholder="Pacific ocean">
  <label for="source">Source:</label>
  <input type="text" id="source" name="river[source]" placeholder="XY river">
  <label for="location">Location:</label>
  <input type="text" id="location" name="river[location]">
  <label for="length">Length km:</label>
  <input type="text" id="length" name="river[length]">
  <label for="width">Width km:</label>
  <input type="text" id="width" name="river[width]">

  <button id="newRiver">Cry me a river</button>
</form>