<h1>Pick a game</h1>

<div class="gameChoice">
<a href="/games/magic8"> <img class="pic gamePic" src="ball.png"> </a>
<a href="/games/secret"><img class="pic gamePic" src="number.jpg"> </a>
<a href="/games/rps"><img class="pic gamePic" src="rps.png"> </a>
</div>
