<!-- 
Letter effects thanks to
https://github.com/jschr/textillate
https://github.com/davatron5000/Lettering.js
https://github.com/daneden/animate.css 
-->


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Games galore</title>
  <link rel="stylesheet" href="/css/games.css">
  <link rel="stylesheet" type="text/css" href="/css/animate.css">
  <script src="/js/jquery-1.11.3.min.js"></script>
  <script src="/js/lettering.js"></script>
  <script src="/js/textillate.js"></script>
  <script src="/js/game.js"></script>
</head>
<body>

  <div class="container">

   
 
    
  

  <%= yield %>

  </div>

<div id="fortuneInfo" class="fortuneInfo">
  
</div>

<div class="home">
    <a href='/'>Games</a>
</div>
  
</body>
</html>