<h1>Magic8</h1>








<div class="gameChoice">

  <div id="eightBall" class="cont">
    <a href="/games/magic8/eight"> 
      <img class="pic circle dissolve" src="/ball.png"> 
      <img class="pic rpsChoice fade fadeFast" src="/ball.png">
    </a>
  </div>

  <div class="cont">
  
    <img class="pic dissolve" src="/number.jpg"> 
    <div class ="fortune"> </div>
  
  </div>

  <div id="cookie" class="cont">
  <a href="/games/magic8/cookie">
    <img class="pic dissolve" src="/rps.png">
    <img class="pic rpsChoice fade fadeFast" src="/cookie.png">
    
   </a>
  </div>

</div>