<h1>Magic8</h1>



<div class="gameChoice">

  <div id="eightBall" class="cont">
    <a href="/games/magic8/eight"> 
    
      <img class="pic rpsChoice" src="/ball.png">

    </a>
  </div>

  <div id="fortune2" class="cont">
  
   
    <div class="tlt"><%= @answer %></div>
  
  </div>

  <div id="cookie" class="cont">
  <a href="/games/magic8/cookie">
    
    <img class="pic rpsChoice" src="/cookie.png">
    
   </a>
  </div>

</div>