<h1>Rock Paper Scissors</h1>

<h2>Choose your weapon</h2>

<div class="gameChoice">
  <div id="cont1" class="cont">
  <a href="/games/rps/rock"> 
    
    <img class="pic rpsChoice fadeFast" src="/rock.png">
  </a>
  </div>


  <div id="cont2" class="cont">
    <a href="/games/rps/paper">
    
    <img class="pic rpsChoice fadeFast" src="/paper.png"> 
    </a>
  </div>

  <div id="cont3" class="cont">
  <a href="/games/rps/scissors">
  
    <img class="pic rpsChoice fadeFast" src="/scissors.png"> 
   </a>
  </div>

</div>