<h1>??? Secret  Number ???</h1>

<h2> <%= @result %> </h2>



<div class="gameChoice">
  <div id="cont1" class="cont">
    <img class= '<%= @up_arrow %>' src="/up.png">
  </div>


  <div id="cont2" class="cont">
    <% if @result == 'Guess Again!' %>
      <form class="sNumber" action="/games/secret" method="post">

     

      <input type="number" id="number" name="number" min="1" max="100" autofocus>
      <button>Guess Number</button>
      </form>
    <% else %>
      <div class="sNumber">
      <a href="/games/secret2">Play again?</a>
      </div>

    <% end %>


  </div>

  <div id="cont3" class="cont">
    <img class= '<%= @down_arrow %>' src="/down.png"> 
  </div>

</div>
