<h1>??? Secret  Number ???</h1>



<div class="gameChoice">
  <div id="cont1" class="cont">
    <img class="pic dissolve" src="/ball.png"> 
  
  </div>


  <div id="cont2" class="cont">
    <img class="pic circle dissolve" src="/number.jpg"> 
   
    <form class="sNumber fade fadeFast" action="/games/secret" method="post">


    <input type="number" id="number" name="number" min="1" max="100" autofocus>
    <button>Guess Number</button>

    </form>
  </div>

  <div id="cont3" class="cont">
    <img class="pic dissolve" src="/rps.png">
    <!-- <img class="pic numbers fade fadeFast" src="/scissors.png">  -->
  </div>

</div>
