body {
  font-family: Arial, sans-serif;
  margin: 0px;
  background-image:url("../images/bg_body.jpg");
  background-repeat: repeat;
}

ul {
  margin: 0px;
}

#wrapper {
  background-image:url("../images/bg_wrapper.png");
  background-repeat: repeat-x;
  height: 488px;
}

#container {
  max-width: 960px;
  background-color: white;
  background-image:url("../images/bg_body.jpg");
  background-repeat: repeat;
  margin: auto;

}

nav {
  list-style-type: none;
  padding: 32px 20px 32px 100px;
  background-color: black;
  max-width: 960px;
  text-align:0 auto;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

nav a:hover {
  color: blue;
}

nav li {
  display: inline;
  padding: 20px;
  color: white;
}

#title {
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
}

#logo {
  display: inline-block;
  width: 63%;
}

#social-media {
  right: 0px;
  top: 0px;
  position: absolute;
  display: inline-block;
  margin-right: 0px;
}

.linkedin,.twitter,.facebook,.rss {
  display: inline-block;
  background-image:url(../images/socialNav.png);
  height: 60px;
  width: 60px;
  background-position-y: -60px;
}

.linkedin:hover,.twitter:hover,.facebook:hover,.rss:hover {
  background-position-y: 0px;
}

.twitter {
  background-position-x: -60px;
}

.facebook {
  background-position-x: -120px;
}

.rss {
  background-position-x: -180px;
}

#blurb {
  position: relative;
  border-style: inset;
  border-width: 1px;
  width: 90%;
  margin: 0 auto;
}

#text {
  display: inline-block;
  width: 73%;
  margin: 10px;
}

#blurbbutton {
  position: absolute;
  display: inline-block;
  width: 25%;
  height: 68px;
  top: 0px;
  right: 0px;
  margin-left: 100px;
  margin-top: 20px;
  margin-right: 0px;
}

#homeboxes h2 {
  font-weight: 200;
}

#homeboxes img {
  border: 6px solid #D6D6D6;
  padding: 1px;
}

#homeboxes p {
  font-size: 12px;
}

#homeboxes a {
  font-size: 12px;
  text-decoration: none;
  color: #7B7DD1;
}

#homeboxes a:hover {
  color: #57BA6B;
}

.home-box {
  display: inline-block;
  width: 30%;
  margin: 10px;
}

footer {
  width: 960px;
  margin: 0 auto;
  color: grey;
}

footer a {
  text-decoration: none;
  color: #8A8A8A;
}

footer h4 {
  color: white;
  padding: 10px;
}

#blogroll {
  width: 250px;
  text-decoration: none;
  color: white;
  list-style-type: none;
  display: inline-block;
}

#blogroll li {
  text-decoration: none;
  color: grey;
  display: block;
}

#textwidget {
  display: inline-block;
  width: 400px;
}

#metawidget {
  display: inline-block;
  width: 250px;
}

#metawidget li {
  text-decoration: none;
  list-style-type: none;
}

    .box-footer 
         .blogroll
    .box-footer 
         .textwidget 

#copyright 
