<!DOCTYPE html>
<html>
<head>
  <title>AncientOceans</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <a href="/oceans">INDEX</a> |
  <a href="/oceans/new">CREATE OCEAN</a> | 
  <a href="#">SOMESHIZZ!!</a>

</nav>

<%= yield %>

</body>
</html>

