
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <form action="query" class="form">
    <input type="text" id="search">
    <button id="search_youtube">Submit</button>
  </form>

  <div class="videoContainer">
    
  </div>
  
</body>
</html>