<!DOCTYPE html>
<html>
<head>
  <title>Oceans</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav>
    <h1>Oceans of the World</h1>
    <a href="/">Home</a>
    <a href="/oceans/new">Create Ocean</a>

  </nav>

<%= yield %>

</body>
</html>
