<h1>Flimgur</h1>

<div class="form-holder">
  <form id="image_search">
    <div class="box">
      <div class="search-bar">
        <input type="search" id="search" placeholder="Search..." autofocus/>
        <button id='search_flickr' class="icon"><i class="fa fa-search"></i></button>
      </div>
    </div>
    
  </form>
</div>

<div id="status">
  <progress max="100" value="0"></progress>
</div>

<div class="container">
  
</div>
