<h1>Assets Helpers</h1>
<p>Find me in app/views/pages/assets.html.erb</p>

<p>This is a funny image!
  <%= image_tag('http://fillmurray.com/400/600', :class => 'ohBill') %>
</p>

<%= image_tag 'funny.jpg' %>
