<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Movies</title>
  <link rel="stylesheet" href="/css/movies.css">
</head>
<body>
  <h1></h1>
  <div class="container">
  <%= yield %>
  </div>
</body>
</html>