.container{
  max-width: 960px;
  margin: auto;
}

.thumb{
  max-width: 20em;
}

.main{
  max-width: 80%;
  margin:auto;
  display: block;
}

nav ul{
  list-style: none;
  padding: 0;
}

nav li{
  display: inline-block;
}

form label{
  display: inline-block;
  min-width: 85px;
  text-align: right;
}