<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="/css/calc.css">
  <meta charset="UTF-8">
  <title>Crappy Calculator</title>
</head>
<body>

  <div class="container">
    <%= yield %> 
  </div> 
   
</body>
</html>