// Place all the styles related to the Sneakies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

textarea, input{
  width: 80%;
  display: block;
  margin: 0 auto;
}

input{
  margin-top: 20px;
  -webkit-appearance: none;
  padding: 2em;
}

html, body{
  background-color: purple;
  color: white;
}

ul#shames{
  width: 60%;
  margin: 0 auto;
}

h2{
  text-align: center;
}