<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>What do I want to watch?</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<header></header>

  <div class="container">
   <%= yield %>
  </div>
 
</body>
</html>