body {

}

h1 {
  opacity: 0.6;
  font-weight: 100;
  margin: 5px;
}

h2 {
  margin: 2px;
  font-weight: 100;
}

h3 {
  opacity: 0.6;
  font-weight: 100;
}

.container {
  max-width: 960px;
  margin: auto;
  text-align: center;
  font-family: courier;

}

.box {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  padding: 10px;
  margin: 0px;
  max-width: 420px;
  color: black;
}

.search {
  padding: 10px;
  margin: 0 auto;
 /* border-width: 1px;
  border-style: solid;
  border-color: black;*/
  max-width: 400px;
  color: black;
}

.top {
  padding: 10px;
  margin: 0 auto;
 /* border-width: 1px;
  border-style: solid;
  border-color: black;*/
  max-width: 100%;
  color: black;

}
.title {
  padding: 0px 0px 0px 105px;
  margin: 0 auto;
/*  border-width: 1px;
  border-style: solid;
  border-color: black;*/
  max-width: 100%;
  color: black;
  text-align: left;
}
input, button {
  padding: 10px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
  color: black;
}

.container p {
  padding: 5px, 10px, 5px, 10px;
}

strong {
}

p {
  font-weight: 100;
  margin: 0px 0px 10px 0px;
}

.italic {
  font-style:italic;
}

img {
  border: 1px solid black;
  border-radius: 5px;

}