/*@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);

body {
  font-family: 'Roboto', sans-serif;
}*/

.wrapper {
  border: 2px solid black;
  border-radius: 15px;
  padding: 0 15px 15px 15px;
  margin-top: 50px;
}

form {
  display: table-row; /*Bootstrap search breaks otherwise*/
}