<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>ATM</title>
  <link rel="stylesheet" href="css/atm.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script src="js/jquery-1.7.2.js"></script>

  <script src="js/atm.js"></script>
  <script src="js/angular.js"></script>
</head>
<body>

  <div id="content" ng-app="atm">

    <div id="nav">
      <div id="logo"><img src="img/ga.png" alt="Bank of GA"/></div>
      <div id="title">Bank of GA</div>
    </div>

    <div class="account negative" id="checking" ng-controller="MainController">
      <h1>Checking</h1>
      <div class="balance">{{ balance | currency }}</div>
      <input type="text" placeholder="enter an amount" ng-model="amount"/>
      <input type="button" value="Deposit" ng-click="deposit('checking')"/>
      <input type="button" value="Withdraw" ng-click="withdraw('checking')"/>
    </div>

    <!-- <div class="account negative" id="savings">
      <h1>Savings</h1>
      <div class="balance" id="savings-balance">$0</div>
      <input id="savings-amount" type="text" placeholder="enter an amount" />
      <input id="savings-deposit" type="button" value="Deposit" />
      <input id="savings-withdraw" type="button" value="Withdraw" />
    </div> -->

    <div class="clear"></div>

  </div>
</body>
</html>