
.left-cat {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  ms-filter: "FlipH";
  filter: FlipH;
}


body {
  background-color: #cecece;
  overflow: hidden;
}

#wrapper {
  width: 1024px;
  position: relative;
  margin: 20px auto;
  overflow: hidden;
  transition: all 1s ease;
}

#catPic {
  top: 40%;
  height: 300px;
  z-index: 100;
}

#top {
  min-height: 500px;

}

#bottom {
  opacity: 0;
  min-height: 150px;
  background-image: url("../images/stage.jpg");
  z-index: 50;
  transition: all 1s linear;
  position: relative;

}

#curtain-drop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
  background-image: url("../images/curtain-front.gif");
  background-size: 100%;
  background-repeat: repeat-x;
  z-index: 300;
  transition: all 1s ease;
}

#curtain-left,
#curtain-right {
  position: absolute;
  top: 0;
  width: 50%;
  height: 570px;
  background-image: url("../images/curtain-left.gif");
  background-repeat: none;
  z-index: 200;
  opacity: 1;
  transition: all 1s ease;
}

#curtain-left {
  left: 0;
}
#curtain-right {
  right: 0; 
}

#disco-ball {
  width: 200px;
  height: 100%;
  background-image: url("../images/disco-ball.gif");
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: -10px;
  left: 400px;
  z-index: 25; 
  opacity: 0;
  transition: all 1s linear;
}


#crowd {
  position: absolute;
  ---top: 500px;
  bottom: -300px;
  transition: all 2s ease;
}


.leftPaw {
  position: absolute;
  bottom: -50px;
  height: 200px;
  width: 100px;
  z-index: 6000;

  -ms-transform: rotate(-20deg); /* IE 9 */
  -webkit-transform: rotate(-20deg); /* Safari */
  transform: rotate(-20deg);
  -webkit-transform-origin: 0% 50%; /* Chrome, Safari, Opera */
  transform-origin: 0% 50%;
  transition: all 0.5s linear;
}

.rightPaw {
  position: absolute;
  bottom: -50px;
  height: 200px;
  width: 100px;
  z-index: 6000;

  -ms-transform: rotate(20deg); /* IE 9 */
  -webkit-transform: rotate(20deg); /* Safari */
  transform: rotate(20deg);
  -webkit-transform-origin: 0% 50%; /* Chrome, Safari, Opera */
  transform-origin: 0% 50%;
  transition: all 0.5s linear;
}

#paw1 {
  left: 30px;
  background-image: url("../images/paw1.gif");
}

#paw2 {
  left: 230px;
  background-image: url("../images/paw1.gif");
}

#paw3 {
  left: 350px;
  background-image: url("../images/paw2.gif");
}

#paw4 {
  left: 550px;
  background-image: url("../images/paw2.gif");
}

#paw5 {
  left: 650px;
  background-image: url("../images/paw1.gif");
}

#paw6 {
  left: 850px;
  background-image: url("../images/paw1.gif");
}


