

/*************************************
    Layout
*************************************/
body {
  background-color: #000000;
  font-family: Helvetica Neue,Arial,Helvetica,sans-serif;
}

body::after {
  content: ""; 
  background: #000000 url("../images/bg2.jpg");
  background-size: cover;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;   
}

.container {
  max-width: 960px;
  margin: 15px auto;
  position: relative;
  box-shadow: 0 0 8px rgba(0,0,0,0.7);
}

header {
  position: relative;
  height: 100px;
  background: url("../images/header.png");
  background-size: contain; 
}

.movies-logo {
  position: absolute;
  top: -30px;
  left: -50px;
  z-index: 50;
  background: url("../images/TheMovies.gif") no-repeat;
  background-size: contain;
  width: 200px;
  height: 180px;
}

.search {
  position: absolute;
  top: 30px;
  right: 21px;
  display: inline-block;
}

/*************************************
    Pages
*************************************/
.content-wrapper {
  background: -moz-linear-gradient(top,rgba(0,0,0,0.3) 0,rgba(0,0,0,0) 7px);
  background: -webkit-linear-gradient(top,rgba(0,0,0,0.3) 0,rgba(0,0,0,0) 7px);
  background: -ms-linear-gradient(top,rgba(0,0,0,0.3) 0,rgba(0,0,0,0) 7px);
  background: linear-gradient(top,rgba(0,0,0,0.3) 0,rgba(0,0,0,0) 7px);
  background-repeat: no-repeat;
  background-size: 100% 7px;
  background-color: #FFF;
  padding: 15px;
  display: flex;
}

.content {
  background-color: rgb(255,255,255);
  display: inline-block;
  vertical-align: top;
  margin-left: 15px;
  padding: 30px;
  flex: 1;
}

/*************************************
    Films
*************************************/
.poster { 
  display: inline-block; 
  width: 300px; 
  text-align: center;
  margin-top: 20px;
}
.poster img { width: 250px;}

.film-info {
  max-width: 600px;
  display: inline-block;
  vertical-align: top;
  margin: auto;
}

.film-title { vertical-align: bottom; }

.title, .search-title {
  line-height: 27px;
  font-size: 2.5em;
  margin-right: 10px;
}

.details ul {
  padding: 0;
  list-style-type: none;
}
.details li {
  display: inline-block;
  border-right: 1px solid #cccccc;
  padding: 8px 12px 8px 8px;
}

.details li:last-child { border-right: 0 }

.plot {
  text-align: justify;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  padding: 30px 20px;
}

/*************************************
    Search
*************************************/
.results {
  display: inline-block;
  width: 300px;
  vertical-align: top;
  text-align: left;
}
.search-info {
  margin: 15px auto;
  min-height: 400px;
  color: #000000;
  text-align: center;
}

.search-info ul {
  padding: 0;
  list-style-type: none;
}

.search-info li { padding: 5px; }

.search-info li:hover {
  color: #ffffff;
  background-color: #555555;
}

.search-info a { 
  color: #555555;
  text-decoration: none;
}

.search-title {
  padding-bottom: 10px;
  border-bottom: 1px solid #cccccc;
}

.error-wrapper {
  margin: 0 auto;
  text-align: center;
}

.error-wrapper img {
  max-width: 100%;
}



section {
  min-height: 65vh;
}

footer {
  height: 80px;
  background-color: #777;
}

input {
  font-size: 1.1em;
  padding: 5px;
  margin-right: 10px;
}

button {
  font-size: 1.1em;
  padding: 5px;
  border-radius: 5px;
}



