<div class="notification">
  This is a notice.
</div>

<div class="error">
  This is an error!
</div>

<div class="success">
  This is success!
</div>

<div class="post">
  <h2 class="slug">Some post title</h2>
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, modi, et! Architecto maiores fuga sapiente, magni nulla blanditiis harum, voluptate laudantium dolore eveniet quis consequatur aperiam! Fugit, inventore tenetur exercitationem!</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, modi, et! Architecto maiores fuga sapiente, magni nulla blanditiis harum, voluptate laudantium dolore eveniet quis consequatur aperiam! Fugit, inventore tenetur exercitationem!</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, modi, et! Architecto maiores fuga sapiente, magni nulla blanditiis harum, voluptate laudantium dolore eveniet quis consequatur aperiam! Fugit, inventore tenetur exercitationem!</p>
  </div>
</div>

<div class="post">
  <h2 class="slug">Some post title</h2>
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, modi, et! Architecto maiores fuga sapiente, magni nulla blanditiis harum, voluptate laudantium dolore eveniet quis consequatur aperiam! Fugit, inventore tenetur exercitationem!</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, modi, et! Architecto maiores fuga sapiente, magni nulla blanditiis harum, voluptate laudantium dolore eveniet quis consequatur aperiam! Fugit, inventore tenetur exercitationem!</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, modi, et! Architecto maiores fuga sapiente, magni nulla blanditiis harum, voluptate laudantium dolore eveniet quis consequatur aperiam! Fugit, inventore tenetur exercitationem!</p>
  </div>
</div>

<div class="post">
  <h2 class="slug">Some post title</h2>
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, modi, et! Architecto maiores fuga sapiente, magni nulla blanditiis harum, voluptate laudantium dolore eveniet quis consequatur aperiam! Fugit, inventore tenetur exercitationem!</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, modi, et! Architecto maiores fuga sapiente, magni nulla blanditiis harum, voluptate laudantium dolore eveniet quis consequatur aperiam! Fugit, inventore tenetur exercitationem!</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, modi, et! Architecto maiores fuga sapiente, magni nulla blanditiis harum, voluptate laudantium dolore eveniet quis consequatur aperiam! Fugit, inventore tenetur exercitationem!</p>
  </div>
</div>