<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Movie Info</title>
  <link rel="stylesheet" href="/css/movie.css">  <!-- actual location public/css/calc.css dont need public -->
</head>
<body>
  
  <div class="container">
  <h1>Movie search v.165bc.5</h1>

  <form action="/">

  <input type="text" name="title" placeholder="movie title" autofocus>
 
  <button>Search Movie</button>

  </form>

  <%= yield %>
  </div>

</body>
</html>