#banner{
  background: url("../image/main.jpg");
  background-size: cover; 
  height:810px;
  width:100%;
  text-align: center;
  font-family:'Montserrat', sans-serif;
  font-color: salmon; 
  margin: 0;
  position: absolute;
}

h1 {                                    /* title */
  letter-spacing: 3px;
  color: #708090;
  padding-top: 10px;  
}

a{ 
  text-decoration: none;
  color:#708090;
}

a:hover { 
    background-color: #708090;
    color: #FFFFFF;  
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}


ul{
  width: 150px;
  letter-spacing: 2px; 
}

li                                   /* menu list */ 
{
  list-style-type: none;            /* gets rid of bulletpoints */
  background-color: #FFFFFF;
  text-transform: uppercase;
  font-size: 15px;
  display: block;
  width: 100%;
  padding-bottom: 25px;
  padding-top: 10px;
}

#pageInfo{
  background-color: #FFFFFF;
  background-size: cover; 
  height:810px;
  width:100%;
  text-align: center;
  font-family:'Montserrat', sans-serif;
  font-color: salmon; 
  margin: 0;
  position: absolute;
}

  #input {
      border: 0;
      padding: 10px;
      font-size: 18px;
    }



/*.navigation {
  background-color: salmon;
  font-family:'Montserrat', sans-serif;
  font-color; #FFFFFF; 
  margin-left: 0.5px;
  position: absolute;
  padding-top:20px;
  padding-bottom:20px;
  height: 300px
  width: 300px; 
}*/


.slider {
  background: #ff;
  width: 950px;
  height: 850px;
  padding: 10px;
  margin: auto;
/*  position: relative;*/
  top: 10px;
  box-shadow: 0 30px 50px -20px black;
  overflow: hidden;
}

.images {
  background: #fff;
  width: 100%;
  height: 74%;
  transition: background .5s linear;
}

input[type='radio'] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #708090;
  background-size: 225px 70px;
  width: 225px;
  height: 70px;
  margin: 5px;
  cursor: pointer;
  position: relative;
  float: left;
  top: 270px;
  -webkit-filter: sepia();
}
input[type='radio']:checked {
  content: '';
  border: solid 1px #fff;
  box-shadow: none;
  -webkit-filter: none;
}

input[type='radio']:hover{
  border: none;
  -webkit-filter: none;
  transform: scale(1.05);
  z-index: 9999;
}

.slide1 {
  background: url(../image/gallery1);
}

.slide2 {
  background: url(../image/gallery2);
}

.slide3 {
  background: url(../image/gallery3);
}

.slide4 {
  background: url(../image/gallery4);
}

.slide1:checked ~ .images {
  background: url(../image/gallery1);
}

.slide2:checked ~ .images {
  background: url(../image/gallery2);
}

.slide3:checked ~ .images {
  background: url("../image/gallery3");
}

.slide4:checked ~ .images {
  background: url(../image/gallery4);
  }


/*contact form*/


#contactForm{
  position: relative;
  font-size: 10px;
  padding: 10px;
  background-color: 

}
































